body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
    height: 100vh;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: rgb(0, 0, 0);
    color: white;
    position: sticky;
    top: 0;
    height: 60px;
    line-height: 60px;
    width: 100%;
    z-index: 10;
}

.header-container{
    margin: auto;
    text-align: center;
    background-color:black;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo{
    float:left;
    margin-left: 30px;
    height: 30px;
    cursor: pointer;
} @media (max-width: 768px)  {
    .logo{ margin-left: 5px;}
}

nav ul {
    display: flex;
    float: right;
    list-style: none;
    margin-right: 20px;
    margin-top: -2px;
    text-align: right;
}

nav li {
    display: inline-block;
}

nav li a {
    color: rgb(209, 209, 209);
    height: 50px;

    letter-spacing: 1px;
    margin: 0 20px;
    padding: 8px;
    position: relative;
    text-decoration: none;
}


nav ul li a:hover{
    text-decoration: none;
    box-shadow: 10px 8px 40px 40px orangered inset, 10px 8px 40px 40px orangered inset,
    10px 8px 40px 40px orangered inset, 10px 8px 40px 40px orangered inset;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #181818;
    min-width: 150px;
    text-align: center;
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ff4500;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}



.menu-title {
    line-height: 20px;
    position: absolute;
    top: 0px;
    left: 40vw;
}

nav ul {
    list-style-type: none;
    margin: 0;
    /*padding: 20px;*/
    align-items: right;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}


main {
    padding: 20px;
}
.cart{
    position: relative;
    left: 10vw;
    padding: 30px;
    width: 70%;
    height: 85%;
    background-color: #ffffff;
    border: 1px solid orangered;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #ffc8b3;
}

.cart h2 {
    text-align: center;
}

.cart-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.cart-item img {
    width:25vw ;
    border-radius: 5px;
}

.item-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    width:50%;
    background-color: gainsboro;
    border-radius: 5px;
}

.cart-total {
    margin-top: 20px;
    text-align: right;
}

.checkout-button {
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.quantity-section {
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    right: -15px;
    justify-content: space-evenly;
}
