body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}
.logo-container {
    
    display: flex;
    align-items: center;
}
img {
    width: 5%;
    border-radius: 5px;
    margin-right: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20;
    align-items: right;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration:underline;
    color: green;
}

main {
    padding: 20px;
}

.cart {
    margin: auto;
    max-width: 800px;
}

.cart h2 {
    text-align: center;
}

.cart-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cart-item {
    margin-bottom: 20px;
    width: 30%;
}

.cart-item img {
    width: 50%;
    border-radius: 5px;
}

.item-details {
    padding: 2px;
    background-color: gainsboro;
    border-radius: 5px;
}

.cart-total {
    margin-top: 20px;
    text-align: right;
}

.checkout-button {
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
