*{
    margin:0;
    padding:0;
    border:0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', ;
}

.login-container{
    display: flex;
    flex-direction: row; 
    background: #181818;
    color: #fff;
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 300;
    text-align: center;
}

.login-picture{
    flex:1;
    background-image: url("login-pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

label{
    font-size: 16px;
}
a{
    text-decoration: none;

}

.login-form{

    font: 'Open Sans';
    display: flex;
    flex:1.7;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

form{
    width: 200px;
}

span{
    color: orangered;
}
#logo{
    width: 60px;
}

.text-input{
    width: 100%;
    height: 20px;
    border-radius: 4px;
}

#login-btn{
    padding: 2px 20px;
    background-color: orangered;
    color: whitesmoke;
    border: 0px;
    border-radius: 48px;
    line-height: 20px;
    width: 100%;
    height: 30px;
    cursor: pointer;
    font-size: 14px;
}
#login-btn:hover {
    background-color:rgb(203, 54, 0)
}


