*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;

}
body{
    height:100vh;
    max-width:100vw;
}   

img{
    justify-content: center;
}

.platform{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container{
    display: flex;
    background-color: #151315;
    color:whitesmoke; 
}

.navbar{
    flex:1;
    display: flex;
    min-height:100vh;
    flex-direction: column;
    padding: 20px;
    background-color: #fb4a0a;
}
#navbar-container{
    position: relative;
}

 .img-container{
    display:flex;
    justify-content:center;
} 



.img-border{
    border: 4px solid ;
    color: #201f20  ;
    padding: 2px;
    width: fit-content;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50% ;

    
}
.profile-pic{
    border-radius: 50%;
    width: 110px;
    height: 110px; 
    position:relative;
    overflow: hidden;
    top: 1.75px;
}

.profile-text{
    margin-top: 16px;
    text-align: center;
}
.profile-text p{
    font-size: 14px;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;  
    
}

table{
    width:100%;
    text-align:center;
}

.nav-btn{
    width:250px ;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #151315;
    color: whitesmoke;
    cursor: pointer;
    text-align: left;
}

.buttons :hover{
    background-color: #444343;
    scale: 1.02;
}

.content{
    flex:4;
    padding: 30px;
}

#heading p{
    font-size: 14px;
    color: #969696;
}

.stat-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:20px;
    gap: 30px;
    justify-content: space-evenly;

}
.stat-box h5{
    font-weight: 300;
    font-size: large;
}

 .day,.week,.month{
    display: inline-block;
    overflow:hidden;
    color: whitesmoke;
    /* text-align: center; */
    padding: 8px 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(215, 79, 1, 0.913);
    transition: transform 0.3s, box-shadow 0.3s;
 }

.header{
    display: flex;
    justify-content: space-between;
}

#search-bar{
    border-radius: 4px;
   background-color: #201f20;
   color: whitesmoke;

}
#meals-table{
    margin-top: 30px;
    border-radius: 12px;
    border: 1px solid;
    box-shadow: 0 0 10px rgba(215, 79, 1, 0.913);
    border-color: #fb4a0a;
  }